#name {
  position: relative;
  height: auto;
  z-index: 100;
}
.line {
  display: flex;
  align-items: center;
  justify-content: center;
}
.line div {
  width: 100%;
}
#name path,
#name rect {
  stroke: #005fa4;
  fill: #fff;
  stroke-dasharray: 1800;
  opacity: 0;
  animation: animate 3s cubic-bezier(0, 0.23, 1, 0.1);
}
#name.afterAnim path,
#name.afterAnim rect {
  opacity: 1;
  stroke: #005fa4;
  fill: #005fa4;
}
#name rect {
  stroke-width: 0px;
}
#name path {
  stroke-width: 2px;
}
@keyframes animate {
  0% {
    fill: none;
    stroke-dashoffset: 1800;
    stroke-width: 5px;
    opacity: 0;
  }
  50% {
    fill: rgba(0, 95, 164, 0);
  }
  100% {
    fill: rgba(0, 95, 164, 1);
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
