.skillStar {
  float: right;
  span {
    color: #aaaaaa;
  }
  span.checked {
    color: rgb(25, 181, 233);
  }
}
.skill_name {
  float: left;
}

#skill_content h2 {
  margin-bottom: 15px;
}
.skill_name {
  height: 100%;
}
.skill_name p {
  margin: 8px 0;
}

.skillStar {
  margin-top: 6px;
}

.skill_box {
  margin-bottom: 10px;
  .comment {
    position: absolute;
    width: 100%;
    height: 100%;
    p {
      margin: 8px;
      color: #fff;
      text-align: center;
    }
  }
  &:hover {
    background-color: #e2e2e2;
  }
  &.hover {
    background-color: #e2e2e2;
  }
  &:hover .skillStar span {
    font-size: 120%;
  }
  &.hover .skillStar span {
    font-size: 120%;
  }
  &:hover .comment p {
    color: rgb(25, 181, 233);
  }
  &.hover .comment p {
    color: rgb(25, 181, 233);
  }
}
.skillStar span {
  -webkit-transition: font-size 0.5s ease;
  -moz-transition: font-size 0.5s ease;
  -o-transition: font-size 0.5s ease;
  transition: font-size 0.5s ease;
}
