.skillStar {
  float: right;
  span {
    color: #aaaaaa;
  }
  span.checked {
    color: rgb(25, 181, 233);
  }
}
.skill_name {
  float: left;
}

#skill h2 {
  margin-bottom: 15px;
}
.skill_name {
  height: 100%;
}
.skill_name p {
  margin: 8px 0;
}

.skillStar {
  margin-top: 6px;
}

.skill_box {
  margin-bottom: 10px;
  .comment {
    position: absolute;
    padding: 0 15px;
    bottom: 0;
    width: 100%;
    p {
      color: rgb(255, 255, 255);
      text-align: right;
      font-size: 12px;
      margin: 0;
      padding: 0 15px;
    }
  }

  &.hover {
    background-color: #e2e2e2;
    .skillStar span {
      font-size: 110%;
    }
    .comment p {
      color: rgb(25, 181, 233);
    }
  }
}
.skillStar span {
  margin-left: 4px;
}
@media not all and (pointer: coarse) {
  .skill_box {
    &:hover {
      background-color: #e2e2e2;
      .comment p {
        color: rgb(25, 181, 233);
      }
      .skillStar span {
        font-size: 110%;
      }
    }
  }
}
.skillStar span {
  -webkit-transition: font-size 0.5s ease;
  -moz-transition: font-size 0.5s ease;
  -o-transition: font-size 0.5s ease;
  transition: font-size 0.5s ease;
}
