/* You can add global styles to this file, and also import other style files */
@import './aboutme.scss';
@import './header.scss';
@import './name.scss';
@import './portfolio.scss';

* {
  margin: 0;
  padding: 0;
}
#chart-container div {
  width: 100% !important;
  height: 100% !important;
}
#chart-container div canvas {
  width: 100% !important;
  height: 100% !important;
}
app-root {
  width: 100%;
  height: 100%;
  display: block;
}
p {
  color: $main_color;
  word-wrap: break-all;
}
h2,
h5 {
  color: #004577;
  word-wrap: break-word;
}
.container {
  overflow: hidden;
  margin: 0 auto;
}

.hide_page {
  display: none;
}

#aboutme,
#portfolio_content,
#skill_content,
#todo_content {
  animation-name: main_in;
  animation-duration: 1s;
  opacity: 1;
}
@keyframes main_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
